<form class="form-container" [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <h3>User Form </h3>
    <div class="form-field">
        <label for="firstName">First name</label>
        <input type="text" id="firstName" formControlName="firstName"> 

        <div 
        class="input-error"
        *ngIf=" userForm.controls.firstName.dirty && userForm.controls.firstName.errors?.['required']"
        >
        This field is required
        </div>

        <div 
        class="input-error"
        *ngIf=" userForm.controls.firstName.dirty && userForm.controls.firstName.errors?.['minlength']"
        >
        This length should be atleast
        {{userForm.controls.firstName.errors?.['minlength']?.['requiredLength']}} 
        characters
        </div>
    </div>

    <div class="form-field">
        <label for="lastName">Last name</label>
        <input type="text" id="lastName" formControlName="lastName"> 

        <div 
        class="input-error"
        *ngIf=" userForm.controls.lastName.dirty && userForm.controls.lastName.errors?.['required']"
        >
        This field is required
        </div>

    </div>

    <div class="form-field">
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email"> 

        <div 
        class="input-error"
        *ngIf=" userForm.controls.email.dirty && userForm.controls.email.errors?.['required']"
        >
        This field is required
        </div>

        <div 
        class="input-error"
        *ngIf=" userForm.controls.email.dirty && userForm.controls.email.errors?.['email']"
        >
        This field should be a valid email
        </div>

    </div>

    <div class="form-field">
        <label for="nickName">Nick name</label>
        <input type="text" id="nickName" formControlName="nickName"> 

        <div 
        class="input-error"
        *ngIf=" userForm.controls.nickName.dirty && userForm.controls.nickName.errors?.['required']"
        >
        This field is required
        </div>

        <div 
        class="input-error"
        *ngIf=" userForm.controls.nickName.dirty && userForm.controls.nickName.errors?.['minlength']"
        >
        This length should be atleast
        {{userForm.controls.nickName.errors?.['minlength']?.['requiredLength']}} 
        characters
        </div>
    </div>

    <div class="form-field">
        <label for="yearOfBirth">Year Of Birth</label>
        <input type="number" id="yearOfBirth" formControlName="yearOfBirth"> 

        <div 
        class="input-error"
        *ngIf=" userForm.controls.yearOfBirth.dirty && userForm.controls.yearOfBirth.errors?.['required']"
        >
        This field is required
        </div>

        <div 
        class="input-error"
        *ngIf=" userForm.controls.yearOfBirth.dirty && userForm.controls.yearOfBirth.errors?.['max']"
        >
        This value should not be greater than 
        {{userForm.controls.yearOfBirth.errors?.['max']?.['max']}} 
        </div>
    </div>

    <div class="form-field">
        <label for="passport">Passport</label>
        <input type="text" id="passport" formControlName="passport"> 

        <div 
        class="input-error"
        *ngIf=" userForm.controls.passport.dirty && userForm.controls.passport.errors?.['required']"
        >
        This field is required
        </div>
    </div>

    <fieldset formGroupName="address">
        <legend>Address</legend>
        <div class="form-field">
            <label for="fullAddress">Full Address:</label>
            <input formControlName="street"  type="text" id="fullAddress" placeholder="Enter your full address">
            
            <div 
            class="input-error"
            *ngIf=" userForm.controls.address.controls.street.dirty && userForm.controls.address.controls.street.errors?.['required']"
            >
            This field is required
            </div>
    

        </div>
        <div class="form-field">
            <label for="city">City:</label>
            <input formControlName="city" type="text" id="city" placeholder="Enter your city">

            <div 
            class="input-error"
            *ngIf=" userForm.controls.address.controls.city.dirty && userForm.controls.address.controls.city.errors?.['required']"
            >
            This field is required
            </div>
    

        </div>
        <div class="form-field">
            <label for="postCode">Post Code:</label>
            <input formControlName="postCode"  type="text" id="postCode" placeholder="Enter your postCode">

            <div 
            class="input-error"
            *ngIf=" userForm.controls.address.controls.postCode.dirty && userForm.controls.address.controls.postCode.errors?.['required']"
            >
            This field is required
            </div>
    

        </div>
    </fieldset>

    <fieldset formGroupName="password">
        <legend>User Password</legend>
        <div class="form-field">
            <label for="password">Password:</label>
            <input formControlName="password"  type="password" id="password" placeholder="Enter your password">
            
            <div 
            class="input-error"
            *ngIf=" userForm.controls.password.controls.password.dirty && userForm.controls.password.controls.password.errors?.['required']"
            >
            This field is required
            </div>

            <div 
            class="input-error"
            *ngIf=" userForm.controls.password.controls.password.dirty && userForm.controls.password.controls.password.errors?.['minlength']"
            >
            The length should be atleast 
            {{userForm.controls.password.controls.password.errors?.['minlength']?.['requiredLength']}} characters
            </div>
    

        </div>
        <div class="form-field">
            <label for="confirmPassword">Confirm Password:</label>
            <input formControlName="confirmPassword" type="password" id="confirmPassword" placeholder="Enter your password again">

            <!-- <div 
            class="input-error"
            *ngIf=" userForm.controls.password.controls.city.dirty && userForm.controls.password.controls.city.errors?.['required']"
            >
            This field is required
            </div> -->
        </div>    
    </fieldset>


    <button type="Submit">Submit</button>

</form>    