<form class="form-container" #userForm="ngForm" (ngSubmit)="onSubmit(userForm,$event)">
    <h3>User Info</h3>
    <div class="form-field">
        <label for="firstName">First Name</label>
        <input 
        id="=firstName"
        type="text" 
        [ngModel]="userInfo.firstName" 
        #firstName="ngModel"
        name="firstName"
        required
        minlength="3" 
        />

        <validation-errors 
        *ngIf="firstName.dirty" 
        [errors]="firstName.errors"
        ></validation-errors>

    </div>

    <div class="form-field">
        <label for="lastName">Last Name</label>
        <input 
        id="=lastName"
        type="text"  
        [ngModel]="userInfo.lastName" 
        #lastName="ngModel"
        name="lastName"
        required
        minlength="2" 
        />
        <validation-errors 
        *ngIf="lastName.dirty" 
        [errors]="lastName.errors"
        ></validation-errors>
    </div>

    <div class="form-field">
        <label for="nickName">Nick Name</label>
        <input 
        id="=nickName"
        type="text"  
        uniqueName
        [ngModelOptions]="{updateOn:'blur'}"
        [ngModel]="userInfo.nickName"
        [banWords]="banned" 
        #nickName="ngModel"
        name="nickName"
        required
        minlength="2" 
        />

        <div 
        class="input-info"
        *ngIf="nickName.dirty && nickName.pending"
        >
        Checking if this is available.....
        </div>

        <validation-errors 
        *ngIf="nickName.dirty" 
        [errors]="nickName.errors"
        ></validation-errors>
       
        
    </div>

    <div class="form-field">
        <label for="email">Email</label>
        <input 
        id="=email"
        type="email"  
        [ngModel]="userInfo.email" 
        #email="ngModel"
        name="email"
        email
        required
        />
       
        <validation-errors 
        *ngIf="email.dirty" 
        [errors]="email.errors"
        ></validation-errors>
    </div>

    <div class="form-field">
        <label for="contact">Contact</label>
        <input 
        id="=contact"
        type="text"  
        [ngModel]="userInfo.contact" 
        #contact="ngModel"
        name="contact"
        minlength="10"
        maxlength="10"
        required
        />
       
        <validation-errors 
        *ngIf="contact.dirty" 
        [errors]="contact.errors"
        ></validation-errors>
    </div>

    <div class="form-field">
        <label for="yearOfBirth">Year of Birth</label>
        <input 
        id="=yearOfBirth"
        type="number"  
        [ngModel]="userInfo.yearOfBirth" 
        #yearOfBirth="ngModel"
        name="yearOfBirth"
        minlength="4"
        maxlength="4"
        required
        />
       
        <validation-errors 
        *ngIf="yearOfBirth.dirty" 
        [errors]="yearOfBirth.errors"
        ></validation-errors>
    </div>

    <div class="form-field">
        <label for="passport">Passport</label>
        <input 
        id="=passport"
        type="text"  
        [ngModel]="userInfo.passport" 
        #passport="ngModel"
        name="passport"
        [required]="isAdult"
        />
      
        <validation-errors 
        *ngIf="passport.dirty" 
        [errors]="passport.errors"
        ></validation-errors>
    </div>

    <fieldset ngModelGroup="address">
        <legend>Address</legend>

        <div class="form-field">
            <label for="street">Street</label>
            <input 
            id="=street"
            type="text"  
            [ngModel]="userInfo.street" 
            #street="ngModel"
            name="street"
            required
            />
            
            <validation-errors 
            *ngIf="street.dirty" 
            [errors]="street.errors"
            ></validation-errors>
        </div>

        
        <div class="form-field">
            <label for="city">City</label>
            <input 
            id="=city"
            type="text"  
            [ngModel]="userInfo.city" 
            #city="ngModel"
            name="city"
            required
            />
            
                <validation-errors 
                *ngIf="city.dirty" 
                [errors]="city.errors"
                ></validation-errors>
        </div>

        
        <div class="form-field">
            <label for="postCode">Post Code</label>
            <input 
            id="=postCode"
            type="text"  
            [ngModel]="userInfo.postCode" 
            #postCode="ngModel"
            name="postCode"
            required
            />
            
                <validation-errors 
                *ngIf="postCode.dirty" 
                [errors]="postCode.errors"
                ></validation-errors>
        </div>
    

    </fieldset>

    <fieldset ngModelGroup="password" passwordShouldMatch>
        <legend>User Password</legend>

        <div class="form-field">
            <label for="password">Password</label>
            <input 
            id="=password"
            type="password"  
            [ngModel]="userInfo.password" 
            #password="ngModel"
            name="password"
            required
            minlength="6"
            />
            
                <validation-errors 
                *ngIf="password.dirty" 
                [errors]="password.errors"
                ></validation-errors>
        </div>

        
        <div class="form-field">
            <label for="confirmPassword">Confirm Password</label>
            <input 
            id="=confirmPassword"
            type="password"  
            [ngModel]="userInfo.confirmPassword" 
            #confirmPassword="ngModel"
            name="confirmPassword"
            required
            />
           
            <validation-errors 
            *ngIf="confirmPassword.dirty" 
            [errors]="confirmPassword.errors"
            ></validation-errors>
        </div>

    </fieldset>

    <button type="submit">
        Submit Info
    </button>

</form>