/* You can add global styles to this file, and also import other style files */

:root {
    --color-primary: #004859;
    --color-accent: #ff8888;
    --color-accent-secondary: #ffc15a;
    --color-accent-secondary-darker: #faa415;
    --color-background: #eceff1;
  
    --color-success:#4caf50;
    --color-error: #ff5722;
    --color-info: #449eff;
  
    --color-text: #263238;
    --color-text-light: #607d8b;
    
    --height-header: 64px;
    --height-footer: 48px;
    --border-radius: 10px;
    --spacing-step: 8px;
    --font-size-h1: 34px;
  }

.form-container{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    line-height: 27px;
    border: 1px solid var(--color-text);
    width: 400px;
    align-items: center;
    padding: 16px 24px;
    font-family: sans-serif;

}
.form-field{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100px;
    max-height: 100px;
    margin-top: 16px;

    input{
        height: 40px;
        border-radius: 4px;
    }
}
.input-error{
    font-size: 12px;
    color: var(--color-error);
}

button{
    background-color: var(--color-accent-secondary);
    border-color: var(--color-accent-secondary-darker);
    width: 200px;
    height: 50px;
    padding: 5px 10px;
    font-size: 18px;
    line-height: 27px;
    margin-top: 8px;
    &:hover{
        background-color: var(--color-accent-secondary-darker);
        transform: scale(0.95);
    }
}